<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <div id="app">
        <div class="product">
          <div class="product-image">
            <img v-bind:src="image" />
          </div>
          <div class="product-info">
            <h1>{{ title }}</h1>

            <p v-show="showDiv">Our product</p>
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory < 10 && inventory>0">Almost sold out</p>
            <p v-else>Sold Out</p>

            <ul>
              Details
              <li v-for="detail in details">{{detail}}</li>
            </ul>
            <br>
            <ul>
              Colors
              <li @mouseover="updateProduct(v.variantImage)"
              v-for="v in variants" :key="v.variantId"
              class="color-box"
              :style="{backgroundColor: v.variantColor}">
              </li>
            </ul>
            <br>
            <ul>
              Sizes
              <li v-for="s in sizes">{{s}}</li>
            </ul>
            <!--<button v-on:click="cart++">Add to Cart</button> -->
            <br>
            <button v-on:click="addToCart" :disabled="!inStock"
            :class="{disabledButton: !inStock}">Add to Cart</button>
            <br>
            <button v-on:click="removeToCart"
            :disabled="!outStock"
            :class="{disabledButton: !outStock}">Remove to Cart</button>
            <div class="cart">
              <p>Cart: {{cart}}</p>
            </div>
          </div>
        </div>
    </div>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
